body {
	display: flex;
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
	height: 80vh;
	/* Optional: Ensure the container takes up the full viewport height */
	background-color: #181028;
	width: 100%;
}

.top {
	display: flex;
	margin-bottom: 1.25rem;
}

.read {
	/* padding-left: 15em; */
	/* min-width: 400px; */
	background-color: #f2f1ff;
	padding: 0.25rem 0.75rem;
	border-radius: 50px;
	color: #5e60bb;
	margin-left: auto;
}

h1 {
	font-weight: 600;
	font-family: Cambria, "Times New Roman";
	font-size: larger;
}

small {
	font-size: smaller;
	color: #9f9f9f;
}

/* h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
} */

.profile-img {
	border-radius: 50%;
	overflow: hidden;
	/* this fixed the image from clipping */
	height: 80px;
	width: 80px;
}

section {
	display: flex;
	border-top: 1px solid #bbb;
	padding: 1.5rem 0;
}

.info {
	display: flex;
	margin-top: 25px;
	margin-left: 15px;
	flex-direction: column;
	gap: 10px;
}

.accept {
	border: 1px solid #b6b5b9;
	/* border: none; */
	background-color: transparent;
	color: inherit;
	padding: 0.8rem 1.5rem;
	cursor: pointer;
	border-radius: 3%;
}

.accept:hover {
	background-color: #93876a;
	color: white;
	border-radius: 3%;
}

.decline:hover {
	background-color: rgb(105, 124, 105);
	color: white;
	border: 1px solid #b6b5b9;
	border-radius: 3%;
}

.decline {
	/* border: none; */
	background-color: #191746;
	color: white;
	padding: 0.8rem 1.5rem;
	cursor: pointer;
	margin-left: 10px;
	border-radius: 3%;
}

.fa-bell:hover {
	position: absolute;
	inset: -5.25rem -1.95rem auto auto;
	background-color: #ffffff;
	color: #2e8f3b;
	padding: 0.6rem;
	border-radius: 4px;
	box-shadow: 0 2px 10px #2222;
	font-size: 24px;
	z-index: 1;
	cursor: pointer;
}

.wrapper {
	position: relative;
}
