
body{

    height: auto;
    margin-top: 20em;
    gap: 1.5rem;
}
.card{
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.46);
    width: 240px;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;

}

.title{
    font-weight: 500;
}

button{
    padding: .75rem;
        margin-top: 1rem;
            font-weight: 600;
}

button:hover{
    background: #1F2344;
    color: #fff;
}
