*root {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container {
  box-shadow: 0 15px 25px 5px #3de0b233;
  padding: 1rem 2.5rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10em;
  width: 300px;
  border-radius: 15px;
  padding-bottom: 2.4rem;
  /* align-items: center; */

  h1 {
    font-size: 1rem;
    /* align-self: flex-start; */
  }

  button {
    background: #1f2555;
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 1rem 2rem;
    width: 300px;
    margin-top: 0.5rem;
    position: relative;

    &::after {
      content: "🖉";
      translate: 8px;
      position: absolute;
    }
  }

  h2 {
    font-size: 0.95rem;
  }

  p {
    font-size: 0.85rem;
  }

  img {
    width: 3em;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3fdeb6;
  outline: 2px solid #fff;
  position: absolute;
  border-radius: 50%;
  box-shadow: ;
  top: 0;
  right: 0;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;

  span {
    margin-left: auto;
    font-size: 0.6rem;
    margin-bottom: auto;
    margin-top: 1rem;
    color: grey;
  }
}
